.footer--container {
  background: $BLACK;
  &.orange{
    border-top: 10px solid $ORANGE;
  }
  &.yellow{
    border-top: 10px solid $YELLOW;

  }
  &--content {
    width: 1336px;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
      color: $GREY;
      text-decoration: none;
      @include font-size-16;
    }
    a {
      padding: 1rem;
    }
  }
}

@media (max-width: 1336px) {

  .footer--container--content{
    width: 100%;
  }

}

@media (max-width: 992px) {

  .footer--container--content{
    flex-direction: column;
  }

}