@media (max-width: 992px) {

  .LWT__container__text--text{
    text-align: center;
  }
  .nav--container {
    padding: 1rem;
  }
  .nav--container--content--logo {
    width: 80px;
  }
  .mainImage--container--title{
    @include font-size-20;
  }
  .headerBlock__container--label{
    @include font-size-32;
    padding:1rem 3rem;
  }
  .LWT__container__content--logo{
    height: 64px;
    margin: 1rem
  }
  .LWT__container__text--title{
    @include font-size-20;
    text-align: center;
    margin: 1rem;
  }
  .LWT__container__text--text{
    @include font-size-16;
  }
  .col-sm-1{
    display: none;
  }
  .doubleListContainer__title{
    @include font-size-20;
  }
  .doubleListContainer__content__list--element{
    @include font-size-16;
  }
  .doubleListContainer{
    margin: 2rem 0;
  }
  .mainImage--container--hr{
    width: 80vw;
  }
  .galleryContainer__title{
    @include font-size-20;
  }
  .galleryContainer__title{
    @include font-size-20;
  }
  .contactSection__container__title{
    @include font-size-20;

  }
  .contactSection__container__text{
    @include font-size-20;

  }
.LWT__container{
  margin: 2rem 0;
}
  .image-gallery{
    margin: -6rem 0 !important;
  }
  .copyContainer--text{
    @include font-size-16();
  }
}

.alert{
  text-align: center;
  background-color: $ORANGE;
  color: white;
  @include font-weight-700();
  border-color: transparent ;
  box-shadow: 10px 5px 5px black;
  &.yellow{
    background-color: $YELLOW;

  }
}

