body {
  background-color: $BLACK;
}

.mainPage--container {
  display: flex;
  flex-direction: column;
  background: $BLACK;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &--tiles {
    display: flex;
  }
  &--logo {
    margin: 2rem 0 2rem;
  }
}

.tile--container {
  margin: 1rem;
  height: 400px;
  width: 400px;
  border: 2px solid $ORANGE;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &.yellow {
    border-color: $YELLOW;
  }

  &--label {
    text-align: center;
    @include font-size-32;
    @include font-weight-700;
    @include font-color-white;
  }
  &--icon {
    height: 125px;
    &.margin {
      padding-top: 25px;
    }
  }
  &--button {
    @include font-uppercase;
    @include font-weight-700;
    background: transparent;
    border: 2px solid $ORANGE;
    text-decoration: none;
    border-radius: 15px;
    @include font-color-white;
    @include font-size-32;
    padding: 1.25rem 4rem;
    transition: 0.2s;
    &.yellow {
      border-color: $YELLOW;
    }

    &.yellow:hover {
      background: $YELLOW;
    }
    &:hover {
      color: white;
      background: $ORANGE;
    }
  }
}

.mobileNavbar{
  &.yellow{
    border-bottom: 10px solid $YELLOW;

  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $BLACK;
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  top:9%;
  bottom: 0;
  border-bottom: 10px solid $ORANGE;
  transform:translateY(102%);
  transition: .4s;
  .nav--container--menu--link{
    @include font-size-32
  }
  &.active{
    transform:translateX(0%);

  }
}



.nav--container {
  background: $BLACK;
  padding: 0 .5rem;
  &.orange {
    border-bottom: 10px solid $ORANGE;
  }
  &.yellow {
    border-bottom: 10px solid $YELLOW;
  }

  &--content {
    width: 1336px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--menu {
    margin: 0;
    display: flex;
    align-items: center;

    &--link {
      display: inline-block;
      @include font-size-16;
      @include font-color-white;
      text-decoration: none;
      margin: 1rem;
      position: relative;
      overflow: hidden;
      &.active {
        &:after {
          transform: translateX(0%);
        }
      }
      &:hover {
        @include font-color-white;
        &:after {
          transform: translateX(0%);
        }
      }

      &:after {
        transition: 0.3s;
        transform: translateX(-101%);
        left: 0;
        bottom: 0%;
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        z-index: 1;
        background-color: $ORANGE;
      }
    }
  }
}

@media (max-width: 1336px) {
  .nav--container--content,
  .LWT__container__content,
  .doubleListContainer__content,
  .footer--container--content {
    width: 100% !important;
  }
}

@media (max-width: 992px) {
  .mainPage--container {
    &--tiles {
      flex-direction: column;
    }
    &--logo {
      margin: 2rem 0;
    }
    &--label {
      @include font-size-20;
    }
  }
  .tile--container {
    height: 300px;
    width: 300px;
    &--icon {
      height: 90px;
    }
    &--button {
      @include font-size-16;
      padding: 1rem 2rem;
    }
  }
}

.image-gallery-play-button,.image-gallery-fullscreen-button{
  display: none !important;
}


.yellow .nav--container--menu--link::after{
  background-color: $YELLOW;
}

.yellow .mainImage--container--phone{
  @include font-size-32;
  @include font-weight-700;
  @include font-color-white;
  text-decoration: none;
  border: 1px solid $YELLOW;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  transition: 0.3s;
  &:hover {
    color: white;
    background: $YELLOW;
  }
}