$BLACK: #231f20;
$WHITE: #ffffff;
$ORANGE: #f36d21;
$YELLOW: #fedb00;
$GREY: #7F7F7F;
@mixin font-color-white {
  color: $WHITE;
}
@mixin font-weight-400{
  font-weight: 400;
}
@mixin font-weight-700{
  font-weight: 700;
}

@mixin font-size-32 {
  font-size: 32px;
}
@mixin font-size-64 {
  font-size: 64px;
}

@mixin font-size-24 {
  font-size: 24px;
}

@mixin font-size-20 {
  font-size: 20px;
}

@mixin font-size-16 {
  font-size: 16px;
}

@mixin font-uppercase{
  text-transform: uppercase;
}


