.contactSection__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  &__title {
    @include font-weight-700;
    @include font-size-64;
    @include font-color-white;
  }
  &__text {
    text-align: center;
    @include font-size-24;
    @include font-color-white;
  }
  &__href {
    @include font-weight-700;
    @include font-size-32;
    @include font-color-white;
    text-decoration: none;
    padding: 20px 64px;
    border: 2px solid $ORANGE;
    border-radius: 1rem;
    transition: 0.3s;
    &:hover {
      background-color: $ORANGE;
      @include font-color-white;
    }
  }
}

.contactSection__container__href.yellow {
  border: 2px solid $YELLOW;
  &:hover {
    background-color: $YELLOW;
  }
}
