.copyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 1rem auto;

  &--image {
    margin-right: 0.25rem;
  }
  &--text {
    @include font-color-white;
    margin: 0;
  }
  &--button {
    text-decoration: none;
    &:hover{
      text-decoration: none;
      @include font-color-white;

    }
    @include font-size-16;
    @include font-weight-700;
    background: transparent;
    @include font-color-white;
    border: 2px solid $ORANGE;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
  }
}

.copyContainer {
  &--button.yellow {
    border: 2px solid $YELLOW;
  }
}

@media (max-width: 992px) {
  .copyContainer {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
}

.alert {
  position: fixed;
  top: 5%;
  left: 30%;
  right: 30%;
}
