.doubleListContainer {
   margin: 6rem 0;
  &__title {
    @include font-size-64;
    @include font-weight-700;
    @include font-color-white;
    text-align: center;
  }
  &__content {
    width: 1336px;
    margin: 0 auto;
    justify-content: space-between;
    &__list {
      list-style: none;
      &--element {
        @include font-color-white;
        margin: 1rem;
      }
      .dot.yellow::before{
        content: "\2022";
        color: $YELLOW;
        font-weight: bold;
        width: 1em;
        display: inline-block;
        margin-left: -1em;
      }
      .dot::before {
        content: "\2022";
        color: $ORANGE;
        font-weight: bold;
        width: 1em;
        display: inline-block;
        margin-left: -1em;
      }
      .check::before {
        content: "\2713";
        color: $ORANGE;
        font-weight: bold;
        width: 1em;
        display: inline-block;
        margin-left: -1em;
      }
    }
    &--hr {
      height: 100%;
      width: 2px;
      background-color: white;
      margin: 0 auto;
    }
  }
}
