.headerBlock__container {
  height: 128px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &.orange {
    background-image: url("/images/bgcorange.png");
  }

  &.yellow {
    background-image: url("/images/bgcyellow.png");
    .headerBlock__container--label {
      background-color: $YELLOW;
    }
  }

  &--label {
    margin: 0;
    text-transform: uppercase;
    @include font-weight-700;
    @include font-color-white;
    background-color: $ORANGE;
    padding: 0.5rem 2rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}
