.mainImage--container {
  height: Calc(100vh - 183px);
  background-image: url("/images/laweta.png");
  &.yellow{
    background-image: url("/images/budowa.png");
  }

  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--logo {
    max-width: 668px;
    width: 80%;
  }
  &--title {
    @include font-size-32;
    @include font-weight-700;
    @include font-color-white;
    text-align: center;
    padding: 1rem;
  }
  &--subtitle {
    @include font-size-32;
    @include font-weight-700;
    @include font-color-white;
    text-align: center;
    padding: 1rem;
  }
  &--hr {
    width: 512px;
    height: 2px !important;
    color: $WHITE;
    opacity: 1;
    margin: 0 auto;
  }
  &--phone {
    @include font-size-32;
    @include font-weight-700;
    @include font-color-white;
    text-decoration: none;
    border: 1px solid $ORANGE;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    transition: 0.3s;
    &:hover {
      color: white;
      background: $ORANGE;
    }
    img {
      margin-right: 0.5rem;
    }
  }
}
