.galleryContainer {
  margin: 4rem 0;

  &__title {
    @include font-size-64;
    @include font-weight-700;
    @include font-color-white;
    text-align: center;
  }
  &__gallery {

    margin: 0 auto;
    &--element {

      object-fit: cover;
      object-position: center;
    }
  }
}

.rec-arrow {
  background-color: transparent !important;
  &:hover {
    background-color: $ORANGE !important;
  }
}

.galleryContainer__gallery{
  height: 80vw;
}

.image-gallery-image{
  height: 516px;
}