.LWT__container {
  margin: 4rem 0;
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__content {
    width: 1336px;
    margin: 0 auto;
    &--logo {
      height: 168px;
    }
  }
  &__text {
    @include font-color-white;
    &--text {
      @include font-size-24;
    }
    &--title {
      @include font-size-64;
      @include font-weight-700;
    }
  }
}
